@mixin flex-prop(
  $display: 'flex',
  $justifyContent: 'center',
  $alignItems: 'center',
  $direction: 'row',
  $gap: 0
) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
  gap: $gap;
}

@mixin font-styling($fontSize, $fontWeight, $lineHeight, $fontColor) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $fontColor;
}
