body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  padding-left: 10.0625rem;

  @media (max-width: 1200px) {
    padding-left: 8%;
    padding-right: 8%;
  }

  @media (max-width: 768px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.info-bar {
  @include flex-prop(flex, space-between, center, row, 0);
  background-color: $clr-primary;
  padding: 0.75rem 6.25rem 0.75rem 6.25rem;
  .address {
    @include flex-prop(flex, center, center, row, 0.5rem);
    text-wrap: nowrap;
    // @media (max-width: 525px) {
    //   @include flex-prop(flex, center, center, column, 0.5rem);
    // }
  }
  .info-details {
    @include flex-prop(flex, center, center, row, 1rem);
    @media (max-width: 525px) {
      @include flex-prop(flex, center, center, column, 0.5rem);
    }
  }
  .contact {
    @include flex-prop(flex, center, center, row, 0.2rem);
  }
  @media (max-width: 768px) {
    @include flex-prop(flex, space-between, center, column, 0);
  }
}
