$clr-primary: #3a0ca3;
$clr-secondary: #4361ee;
$clr-accent: #d4d4d4;
$clr-tertiary: #0b090a;
$clr-base: #ffffff;

$text-clr-primary: #2b2b2b;
$text-clr-primary-light: #808080;
$text-clr-secondary: #4361ee;
$text-clr-secondary-dark: #3a0ca3;
$text-clr-base: #ffffff;
$text-clr-base-light: #aaaaaa;

$fs-xs: 0.875rem;
$fs-sm: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.75rem;
$fs-xl: 2.5rem;
$fs-2xl: 3.625rem;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 600;
